#nbextension-plotwindowview {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 500px;
  background-color: #F8F5E1;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  z-index: 105;
}

#nbextension-plotwindowview .cell-wrapper {
  overflow: auto;
}

.plotwindowview-btn {
  float: right;
  margin-right: 24px;
  opacity: 0.2;
  font-size: 24px;
  z-index: 106;
}

.plotwindowview-btn:hover {
  opacity: 1;
}

.plotwindowview-close {
  display: none;
  position: absolute;
  float: right;
  bottom: 8px;
  right: 0;
}

.plotwindowview-open {
  margin-top: -32px;
}