[submodule "qcodes/tests/dataset/fixtures/db_files"]
	path = tests/dataset/fixtures/db_files
	url = https://github.com/QCoDeS/qcodes_db_fixtures.git
	branch = main
[submodule "typings"]
	path = typings
	url = https://github.com/QCoDeS/qcodes-python-type-stubs.git
