repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-ast
    - id: check-json
      exclude: asv.conf.json
    - id: check-toml
    - id: check-yaml
    - id: check-case-conflict
    - id: debug-statements
    - id: mixed-line-ending
      args: ['--fix=no']
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.0
    hooks:
    - id: pyupgrade
      args: ['--py38-plus']
  - repo: https://github.com/akaihola/darker
    rev: e3c210b5c1b91400c3f317b2474c10ab23bec1cf
    hooks:
      -   id: darker
          args: [-i]
          additional_dependencies: [isort]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.10.1
    hooks:
      - id: validate-pyproject
