repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
    - id: ruff-check
      types_or: [python, pyi, jupyter, toml]
      args: [ --fix, --exit-non-zero-on-fix ]
    - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-ast
    - id: check-json
      exclude: asv.conf.json
    - id: check-toml
    - id: check-yaml
    - id: check-case-conflict
    - id: debug-statements
    - id: mixed-line-ending
      args: ['--fix=no']
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
    - id: shellcheck
