language: python
python:
  - "3.5"
# command to install dependencies
install:
    - pip install --upgrade pip
    - pip install ipython
    - pip install -r develop_requirements.txt
    - python setup.py develop
# command to run tests
script: 
    - python  qcodes/test.py -c
# cover gui thing
after_success:
    - cd qcodes
    - bash <(curl -s https://codecov.io/bash) -t c3b231db-2db3-4560-a477-6edcf4cf5ad1
