language: python
notifications:
  email: false
    # send all notifcations to slack
  slack: qcodes:tNlhSminOHdt2fZf6x6hyT24

cache: pip

addons:
  apt_packages:
    - pandoc

python:
  - "3.6"
  # whitelist
branches:
  only:
    - master

# command to install dependencies
install:
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -r test_requirements.txt --upgrade --upgrade-strategy only-if-needed
    - pip install -r docs_requirements.txt
    - pip install .

before_script: # configure a headless display to test plot generation
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3 # give xvfb some time to start

script:
    - |
      cd qcodes
      py.test --cov=qcodes --cov-report xml --cov-config=.coveragerc
    - cd ..
    - mypy qcodes
    # run benchmarks to make sure they are correct
    - |
      cd benchmarking
      asv machine --machine travis
      asv dev --machine travis
    - cd ..
    # build docs with warnings as errors
    - |
      cd docs
      make SPHINXOPTS="-W" html-api
    - cd ..

after_success:
    # upload code coverage
    - python-codacy-coverage -r qcodes/coverage.xml
    - codecov
    # upload the docs
    - |
      if [[ $TRAVIS_REPO_SLUG == "QCoDeS/Qcodes" && $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" ]]; then
        make -f docs/Makefile gh-pages
      fi
