language: python
notifications:
  email: false
    # send all notifcations to slack
  slack: qcodes:tNlhSminOHdt2fZf6x6hyT24

cache: pip

addons:
  apt_packages:
    - pandoc

python:
  - "3.5"
  - "3.6"
  # whitelist
branches:
  only:
    - master

# signal that we are on travis
# to disable things that expect an
# X Display
#
env:
    - TRAVISCI=true
# command to install dependencies
install:
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install -r test_requirements.txt --upgrade
    - pip install -r docs_requirements.txt
    - pip install -e .
# command to run tests
script:
    - cd qcodes
    - py.test --cov=qcodes --cov-report xml --cov-config=.coveragerc
    - |
      cd ../docs
      make html-api
    - cd ..

after_success:
    # install dependencies for docs build
    - python-codacy-coverage -r qcodes/coverage.xml
    # upload the docs
    - |
      if [[ $TRAVIS_REPO_SLUG == "QCoDeS/Qcodes" && $TRAVIS_BRANCH == "master" && $TRAVIS_PULL_REQUEST == "false" ]]; then
        make -f docs/Makefile gh-pages
