ipykernel==4.2.2
ipython==4.1.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
notebook==4.1.0
numpy==1.10.4
python-dateutil==2.4.2
PyVISA==1.8
coverage==4.1
h5py==2.6.0
