coverage==4.1
decorator==4.0.9
docutils==0.12
gnureadline==6.3.3
greenlet==0.4.9
h5py==2.6.0
imagesize==0.7.1
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
Jinja2==2.8
jupyter-client==4.2.2
jupyter-core==4.1.0
MarkupSafe==0.23
msgpack-python==0.4.7
nbconvert==4.2.0
nbformat==4.0.1
neovim==0.1.8
nose==1.3.7
notebook==4.2.0
numpy==1.11.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
Pygments==2.1.3
pytz==2016.4
PyVISA==1.8
pyzmq==15.2.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.2
sphinx-rtd-theme==0.1.9
terminado==0.6
tornado==4.3
traitlets==4.2.1
widgetsnbextension==1.2.3
jsonschema==2.5.1
sphinxcontrib-jsonschema==0.9.0
