src/qcodes/monitor/dist/*
src/qcodes/monitor/dist/js/*
src/qcodes/monitor/dist/css/*
src/qcodes/configuration/*.json
src/qcodes/instrument/sims/*.yaml
src/qcodes/tests/dataset/fixtures/data_2018_01_17/*/*
src/qcodes/tests/delegate/data/*.yml
src/qcodes/tests/drivers/auxiliary_files/*
src/qcodes/py.typed
src/qcodes/dist/schemas/*
src/qcodes/dist/tests/station/*
