[build-system]
requires = [
    "setuptools >= 48",
    "wheel >= 0.29.0",
]
build-backend = 'setuptools.build_meta'

[tool.coverage.run]
omit = [
    "qcodes/__init__.py",
    "*/__init__.py",
    "qcodes/_version.py",
    "qcodes/tests/*",
    "qcodes/instrument_drivers/test.py"
]

[tool.darker]
isort = true

[tool.isort]
profile = "black"

[tool.mypy]
strict_optional = true
disallow_untyped_decorators = true
disallow_any_generics = false
ignore_missing_imports = true
show_column_numbers = true
warn_unused_ignores = true
warn_unused_configs = true
warn_redundant_casts = true
no_implicit_optional = true
plugins = "numpy.typing.mypy_plugin"
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    "qcodes._version",
    "qcodes.actions.*",
    "qcodes.data.*",
    "qcodes.instrument.mockers.ami430",
    "qcodes.instrument_drivers.Harvard.*",
    "qcodes.instrument_drivers.Keysight.keysightb1500.message_builder.*",
    "qcodes.instrument_drivers.oxford.mercuryiPS",
    "qcodes.instrument_drivers.test",
    "qcodes.instrument_drivers.ZI.*",
    "qcodes.loops",
    "qcodes.math_utils.*",
    "qcodes.measure",
    "qcodes.plots.*",
    "qcodes.tests.*",
    "qcodes.utils.command",
    "qcodes.utils.magic",
    "qcodes.utils.slack",

]
disallow_untyped_defs = false

[tool.pytest.ini_options]
minversion = "6.0"
junit_family = "legacy"

addopts = "-n auto --dist=loadfile"

markers = "serial"

# warnings triggered by xarray and hdf5netcdf using deprecated apis
filterwarnings = [
    "ignore:The distutils package is deprecated and slated for removal in Python 3.12:DeprecationWarning",
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
    "ignore:SelectableGroups dict interface is deprecated:DeprecationWarning"
]

[tool.towncrier]
package = "qcodes"
name = "QCoDeS"
directory = "docs/changes/newsfragments"
single_file = true
filename = "docs/changes/{version}.rst"
[[tool.towncrier.type]]
directory = "breaking"
name = "Breaking Changes:"
showcontent = true
[[tool.towncrier.type]]
directory = "new"
name = "New:"
showcontent = true
[[tool.towncrier.type]]
directory = "improved"
name = "Improved:"
showcontent = true
[[tool.towncrier.type]]
directory = "new_driver"
name = "New Drivers:"
showcontent = true
[[tool.towncrier.type]]
directory = "improved_driver"
name = "Improved Drivers:"
showcontent = true
[[tool.towncrier.type]]
directory = "underthehood"
name = "Under the hood:"
showcontent = true
