numpy==1.16.3 # numpy 1.16.0 .. 1.16.2 may fail our tests due to https://github.com/numpy/numpy/issues/13089
matplotlib==3.0.*
pyqtgraph==0.10.0
PyVISA==1.9.1
h5py==2.9.0
PyQt5==5.9.*
QtPy
jsonschema
ruamel.yaml
pyzmq>=16.0.2
broadbean>=0.9.1
wrapt
pandas
tqdm
