apipkg==1.5
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
codacy-coverage==1.3.11
colorama==0.4.4
coverage==5.3
deepdiff==5.0.2
execnet==1.7.1
gitdb==4.0.5
GitPython==3.1.9
hypothesis==5.37.3
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
lxml==4.6.1
mypy==0.790
mypy-extensions==0.4.3
numpy==1.17.5
numpy-stubs @ git+https://github.com/numpy/numpy-stubs.git@f3c6315738489983f5f37e1477ac68373d71b470
ordered-set==4.0.2
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.10.1
pytest-forked==1.3.0
pytest-mock==3.3.1
pytest-rerunfailures==9.1.1
pytest-xdist==2.1.0
PyVISA==1.10.1
PyVISA-sim-QCoDeS @ git+https://github.com/QCoDeS/pyvisa-sim.git@c23b02520e1966cd89c62e93b6db6790cb60f693
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
smmap==3.0.4
sortedcontainers==2.2.2
stringparser==0.5
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wincertstore==0.2
wrapt==1.12.1
zipp==3.3.1
