coverage!=4.5.0
pytest-cov
pytest
codacy-coverage
hypothesis!=3.69.11 # due to bug in log capture
mypy>=0.630
git+https://github.com/QCoDeS/pyvisa-sim.git
git+https://github.com/QCoDeS/broadbean.git
lxml
codecov
asv
