.qcodes-output-view:not(.ui-draggable) {
    bottom: 0;
    right: 5px;
}
.qcodes-output-view {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(87, 87, 87, 0.2);
}

.qcodes-output-header {
    float: right;
}

.qcodes-highlight {
    animation: pulse 1s linear;
    background-color: #fa4;
}

@keyframes pulse {
    0% {
        background-color: #f00;
    }
    100% {
        background-color: #fa4;
    }
}

.qcodes-process-list {
    float: left;
    max-width: 780px;
    margin: 3px 5px 3px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qcodes-output-view[qcodes-state=minimized] .qcodes-process-list {
    max-width: 300px;
}

.qcodes-output-view span {
    padding: 2px 6px 3px 12px;
}

.qcodes-output-view .btn {
    margin: 0 3px 0 0;
}

.qcodes-output-view[qcodes-state=docked] .qcodes-docked,
.qcodes-output-view[qcodes-state=floated] .qcodes-floated,
.qcodes-output-view[qcodes-state=minimized] .qcodes-minimized,
.qcodes-output-view[qcodes-state=minimized] .qcodes-content {
    display: none;
}

.qcodes-output-view .disabled {
    opacity: 0.4;
}

.qcodes-abort-loop {
    background-color: #844;
    color: #fff;
}

.qcodes-output-view pre {
    clear: both;
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
    background-color: #ffe;
    min-height: 50px;
    max-height: 400px;
    min-width: 400px;
    max-width: 1000px;
}