name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

permissions:
  contents: read

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest

    # Set the permissions to the lowest permissions possible needed for your steps.
    # Copilot will be given its own token for its operations.
    permissions:
      # If you want to clone the repository as part of your setup steps, for example to install dependencies,
      # you'll need the `contents: read` permission. If you don't clone the repository in your setup steps,
      # Copilot will do this for you automatically after the steps complete.
      contents: read

    # You can define any steps you want, and they will run before the agent starts.
    # If you do not check out your code, Copilot will do this for you.
    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          # we need full history with tags for the version number
          fetch-depth: '0'

      # work around for https://github.com/orgs/community/discussions/163397
      - name: Fetch main branch
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git fetch origin main:main


      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.13
          cache-dependency-path: |
            pyproject.toml
            requirements.txt

      - name: upgrade pip setuptools wheel
        run: python -m pip install --upgrade pip setuptools wheel
        shell: bash

      - name: install qcodes editable
        run: |
          pip install -e .[test] -c requirements.txt
          echo "PYTEST_OPT=" >> $GITHUB_ENV

      - name: install pre-commit
        run: |
          pip install pre-commit

      - name: install pre-commit hooks
        run: |
          pre-commit install --install-hooks

      - name: Get Pyright Version
        id: pyright-version
        run: |
          PYRIGHT_VERSION=$(jq -r '.devDependencies.pyright' < package.json)
          echo $PYRIGHT_VERSION
          echo "version=$PYRIGHT_VERSION" >> $GITHUB_OUTPUT
        working-directory: .github
        shell: bash

      - name: install pyright
        run: |
          pip install pyright==${{ steps.pyright-version.outputs.version }}
