name: Lint with Darker

on: [push, pull_request]

jobs:
  lint-with-darker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: akaihola/darker@1.6.1
        with:
          options: "--check --diff"
          src: "./qcodes"
          revision: "origin/master..."
          version: "@e3c210b5c1b91400c3f317b2474c10ab23bec1cf"
