name: Lint with Darker

on:
  push:
    branches:
      - 'main'
      - 'release/*'
  pull_request:
  merge_group:
    branches: ['main']

permissions:
  contents: read

jobs:
  lint-with-darker:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
        with:
          egress-policy: audit

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: "3.11"
      - uses: akaihola/darker@0fcbba37081b4801113c2b017ee5134ecc8b3cd0 # 2.1.1
        with:
          options: "--check --diff"
          src: "./src/qcodes"
          revision: "origin/main..."
