name: Lint with Darker

on:
  push:
    branches:
      - 'main'
      - 'release/*'
  pull_request:

jobs:
  lint-with-darker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: akaihola/darker@1.7.2
        with:
          options: "--check --diff"
          src: "./qcodes"
          revision: "origin/main..."
