name: Run pytest with minimum requirements

on:
  push:
    branches:
      - 'master'
      - 'release/*'
      - 'staging'
      - 'trying'
    tags:
      - 'v*'
  pull_request:

jobs:
  pytestmin:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8"]
    env:
      DISPLAY: ':99.0'
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3.3.0
      with:
        submodules: true
    - name: setup ubuntu-latest xvfb
      uses: ./.github/actions/setup-ubuntu-latest-xvfb
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.3.1
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          requirements.txt
    - name: upgrade pip setuptools wheel
      run: python -m pip install --upgrade pip setuptools wheel
      shell: bash
    - name: generate min_requirements.txt
#     Use fork of requirements-builder until official version
#     has support for pyproject.toml (pep621)
      run: |
        pip install git+https://github.com/jenshnielsen/requirements-builder.git
        pip install versioningit
        requirements-builder -l min -e test setup.py -o min_requirements.txt
    - name: install qcodes
      run: |
        pip install -r min_requirements.txt
        pip install .[test]
    - name: Run parallel tests
      run: |
        pytest -m "not serial" --cov=qcodes --cov-report xml --hypothesis-profile ci qcodes
# a subset of the tests fails when run in parallel on Windows so run those in serial here
    - name: Run serial tests
      run: |
        pytest -m "serial" -n 0 --dist no --cov=qcodes --cov-report xml --cov-append --hypothesis-profile ci qcodes
