name: run qcodes.pytest()

on:
  push:
    branches:
      - 'master'
      - 'release/*'
      - 'staging'
      - 'trying'
    tags:
      - 'v*'
  pull_request:

jobs:
  pytestnonlocal:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    env:
      DISPLAY: ':99.0'

    steps:
    - uses: actions/checkout@v3.3.0
      with:
        submodules: true
    - name: setup ubuntu-latest xvfb
      uses: ./.github/actions/setup-ubuntu-latest-xvfb
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.3.1
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          requirements.txt
    - name: upgrade pip setuptools wheel
      run: python -m pip install --upgrade pip setuptools wheel
      shell: bash
    - name: install qcodes
      run: |
        pip install .[test] -c requirements.txt
    - name: Test with pytest
      run: |
        cd ..
        mkdir empty
        cd empty
        cp ../Qcodes/pyproject.toml .
        python -c "import sys; import qcodes; ec = qcodes.test(); sys.exit(ec)"
